<div class="quizContent">

<h1>Question and Answers</h1>
<table>
  <thead>
    <th>ID</th>
    <th>Question</th>
    <th>Answer</th>
    <th>Correct answer</th>
    <th>Question ID</th>
  </thead>

{{#if isEdit}}

  {{#each result}}
  <tbody>
    <tr>
      <td>{{this.id}}.</td>
      <td>{{this.question}}</td>
      <td>{{this.answer}}</td>
      <td>{{this.correct}}</td>
      <td>{{this.questionid}}</td>
      <td>
        <form action="/answers/{{this.id}}/edit" method="GET">
          <button type="submit">Edit</button>
        </form>
      </td>
      <td>
        <form action="/answers/{{this.id}}/delete" method="POST">
          <button type="submit" onClick="return confirm('Are you sure you want to delete?')">Delete</button>
        </form>
      </td>
    </tr>
  </tbody>
  {{/each}}
</table>
<br>
    <form action="/answers/{{result.0.questionid}}/create/" method="GET">
    <button type="submit">Create New Answer</button>
    </form>

{{/if}}


{{#if isView}}

  {{#each result}}
  <tbody>
    <tr>
      <td>{{this.id}}.</td>
      <td>{{this.question}}</td>
      <td>{{this.answer}}</td>
      <td>{{this.correct}}</td>
      <td>{{this.questionid}}</td>
    </tr>
  </tbody>
{{/each}}
<table>
{{/if}}

<br>
<a href='/questions/{{result.0.quizid}}/'>Click to go back</a>

</div>